.wmnds-container-alerts-sign-up{

    .wmnds-content-tile{
      border-bottom: none;
      ul#wmnds-autocomplete-suggestions {
        padding: 0;
      }
    }

    .wmnds-btn{
      @media screen and(max-width: $breakpoint-sm) {
        margin: $size-sm 0;
      }
    }

}
