.wmnds-content-tile {
  margin-bottom: 30px;
  &__list {
    &--li {
      display: flex;
    }

    .wmnds-disruption-indicator-large__text {
      width: auto;
    }

    .wmnds-btn {
      float: right;
    }
  }

  .wmnds-content-tile__list-content {
    display: flex;
  }
}

.wmnds-header__vertical-align{
  h1{
    font-size: 1.4375rem!important;
    margin: 0px!important;
    color: #ffffff!important;
  }
}
