<footer class="wmnds-footer">
  <div class="wmnds-container wmnds-grid">
    <div class="wmnds-col-1 wmnds-col-md-1-2">
      Copyright West Midlands Network &copy; 2020
    </div>
    <div class="wmnds-col-1 wmnds-col-md-1-2">

    </div>
  </div>
</footer>