<!-- Skip to content link -->
<a href="#wmnds-main-content" title="Skip to main content" target="_self" class="wmnds-link wmnds-header__skip-link">Skip to main content</a>
<!-- Main header section -->
<header class="wmnds-header">
  <div class="wmnds-container wmnds-grid wmnds-grid--align-center wmnds-grid--justify-between">
    <div class="wmnds-header__vertical-align wmnds-col-auto">
      <!-- Logo -->
      <a class="wmnds-header__logo-link" href="$*baseUrl" title="West Midlands Network Design System">
        <img class="wmnds-header__logo" alt="West Midlands Network logo" src="https://wmnetwork.netlify.com/img/logo.svg" />
      </a>
      <!-- Phase indicator -->
      <a href="/" target="_self" class="wmnds-phase-indicator" title="Beta homepage of West Midlands Network Design System">
        Beta
      </a>
    </div>
    <!-- Nav items -->
    {% include "partials/navigation.njk" %}
  </div>
</header>