<header class="wmnds-header wmnds-grid">
  
  <div class="wmnds-header__vertical-align wmnds-col-1 wmnds-col-md-1-3">
    <a class="wmnds-header__logo-link" href="/" title="West Midlands Network Design System">
      <img class="wmnds-header__logo" alt="West Midlands Network logo" src="https://wmnetwork.netlify.com/img/logo.svg" />
    </a>
    <a href="/" title="West Midlands Network Design System Alpha" class="wmnds-phase-indicator">
      Alpha
    </a>
  </div>

 {% include "partials/navigation.njk" %}
  
</header>