{% set pageName = 'signup' %}
{% extends "layout.njk" %}

{% block title -%}
  Disruption Alerts - Your details
{%- endblock %}

{% block content %}
<div class="wmnds-container-alerts-sign-up">
    <h1>Sign up to email alerts about disruptions</h1>
    <div class="wmnds-grid">
        <div class="wmnds-col-1 wmnds-col-sm-3-4">
            <div class="wmnds-content-tile">
                <div class="wmnds-fe-group">
                    <label class="wmnds-fe-label" for="name">Full Name</label>
                    <input class="wmnds-fe-input" id="name" name="name" type="text"/>
                </div>
                <div class="wmnds-fe-group">
                    <label class="wmnds-fe-label" for="email">Email Address</label>
                    <input class="wmnds-fe-input" id="email" name="email" type="email"/>
                </div>
                <a class="wmnds-btn wmnds-btn--cta wmnds-col-1 wmnds-col-sm-auto" href="$*cdn/alerts/services.html">
                    Continue
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
