{% set pageName = 'signup' %}
{% extends "layout.njk" %}

{% block title -%}
  Sign up to Disruption Alerts
{%- endblock %}
{% block content %}
<div class="wmnds-container-alerts-sign-up">
  <h1>Sign up to email alerts about disruptions</h1>
  <div class="wmnds-grid">
    <div class="wmnds-content-tile wmnds-col-1 wmnds-col-sm-3-4">
      <p>This is an automatic service which will email you every time there is a disruption to your bus route or tram service.</p>
      <p>We need to take a few details, such as your name, email address and what you want to receive alerts about.</p>
        <a class="wmnds-btn wmnds-btn--start wmnds-col-1 wmnds-col-sm-auto" href="$*cdn/alerts/personal-details.html">
          Start
          <svg class="wmnds-btn__icon wmnds-btn__icon--right">
            <use xlink:href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
          </svg>
        </a>
    </div>
    </div>
</div>
{% endblock %}