{% extends "layout.njk" %}

{% block title -%}
  Disruption Alerts
{%- endblock %}
{% block content %}
<main id="wmnds-main-content" class="wmnds-container wmnds-container--main">
  <h1>Sign up to email alerts about disruptions</h1>
  <p>West Midlands Network Sign up to email alerts about disruptions static templates based on WMN Design System</p>
  <div class="wmnds-website-mar"></div>
  <a class="wmnds-btn wmnds-btn--start wmnds-col-1 wmnds-col-sm-auto" href="$*cdn/portal-management/portal-management.html">
    View the portal design
    <svg class="wmnds-btn__icon wmnds-btn__icon--right">
      <use xlink:href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
    </svg>
  </a>
<div class="wmnds-website-mar"></div>
<a class="wmnds-btn wmnds-btn--start wmnds-col-1 wmnds-col-sm-auto" href="$*cdn/alerts/sign-up.html">
    View the sign up form
    <svg class="wmnds-btn__icon wmnds-btn__icon--right">
      <use xlink:href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right" href="$*cdn/img/wmnds-sprite.min.svg#wmnds-general-chevron-right"></use>
    </svg>
  </a>
<div class="wmnds-website-mar"></div>
</main>
{% endblock %}