<nav class="wmnds-header__vertical-align wmnds-col-1 wmnds-col-md-2-3">
  <ul class="wmnds-header__links">
    <li class="wmnds-header__link"><a class="wmnds-link" href="index.html">Plan a journey</a></li>
    <li class="wmnds-header__link"><a class="wmnds-link" href="about.html">Tickets</a></li>
    <li class="wmnds-header__link"><a class="wmnds-link" href="contact.html">Help</a></li>
  </ul>
</nav>