<!-- Nav items -->
<nav class="wmnds-header__vertical-align wmnds-col-auto">
  <ul class="wmnds-header__links wmnds-header__main-links">
    <li class="wmnds-header__link">
        <h1>{{ pages[pageName].title }}</h1>
    </li>
  </ul>
</nav>